*{
    font-family: 'Inter', sans-serif;
    /* margin: 0; */
}

body{
    background:#F3F5FC;

}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contenedor-caja-texto{
    position: absolute;
    left: 1px;
    top: 200px;
    padding-left: 120px;
    width: 700px;
    height:500px
}

.caja-texto{
    width: 80%;
    height: 80%;
    border-radius: 2%;
    border: 2px solid #0A3871;
    box-shadow: 10px 10px 10px lightblue;
    background-color: aliceblue;
    cursor: pointer;
    color: #0A3871 ;
    font-size: 32px;
    font-weight: 400;

}

.caja-texto::placeholder{
    color:#0A3871
}

.alerta{
    position:absolute;
    top: 160px;
    left: 270px;
    display: flex;
    color: #495057
}
.alerta img{
    position: relative;
    right: 5px;
}

.contenedor-botones{
    position: absolute;
    top: 80px;
    height: 80px;
    padding-left: 7%;
    padding-top: 15px;
}

.boton-encriptar{
    width: 320px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color:white;
    font-size: 16px;
    /* font-weight: 400;  No es necesario */
    /* font-family:'Inter',sans-serif;  no es necesario */
    border: 3px solid rgba(11, 11, 11, 0.534);
    margin-right:20px;
    cursor:pointer;
    transition:0.7s;
}

.boton-encriptar:hover{
    box-shadow: 5px 5px 10px #0A3871;
    transform: scale(1.05,1.05);
    font-size: 17px;
}

.boton-desencriptar{
    width: 320px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;;
    color:#0A3871;
    font-size: 16px;
    font-weight: 400;  /* No es necesario */
    font-family:'Inter',sans-serif;  /* no es necesario*/
    border: 3px solid rgba(11, 11, 11, 0.534);
    margin-right:20px;
    cursor:pointer;
    transition: 0.7s;
}

.boton-desencriptar:hover{
    box-shadow: 5px 5px 10px #0A3871;
    transform: scale(1.05,1.05);
    font-size: 17px;
}

.seccion-2{
    display: block;
    position: relative;
    width: 400px;
    height: 650px;
    right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 10px 10px 10px lightblue;
}

.contenedor-muneco{
    position:absolute;
    top:20px;
}

.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 380px;
    left: 55px;
}

.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    /* font-family: 'Inter', sans-serif; */
    text-align: center;
    color: #343A40;
}

.contenedor-parrafo p{
    /* font-family: 'Inter', sans-serif; */
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedor-resultado{
    position: absolute;
    /* bottom: 330px; */
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    /* margin-left: 25px; */
}

.contenedor-resultado p{
    color: #495057;
    font-size: 25px;
}

.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 450px;
    background-color: aqua;
    padding-left: 40px;
}

.boton-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    /* font-family: 'Inter', sans-serif; */
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 120px;
    right: 19px;
    transition: 0.7s;
}

.boton-copiar:hover{
    box-shadow:  5px 5px 20px #0A3871;
    transform: scale(1.05,1.05);
    font-size: 17px;
}

.boton-copiar:active{
background-color: rgb(216, 223, 232);
}

.footer{
    position: absolute;
    top: 800px;
    font-family: 'Inter', sans-serif;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 720px;
}

.ocultar{
    display: none;
}